<%= form_for @user do |user_form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset id="user_info">
    <div class="field">
      <%= user_form.label :email %>
      <%= user_form.text_field :email %>
    </div>
  
    <div class="field">
      <%= user_form.label :password %>
      <%= user_form.password_field :password %>
    </div>
  
    <div class="field">
      <%= user_form.label :password_confirmation %>
      <%= user_form.password_field :password_confirmation %>
    </div>
    <% if @user == current_user %>
    <p class="warning"><em>If you change your password you will be signed-out, and you'll have to sign in with the new password.</em></p>
    <% end %>
  </fieldset>
  
  <% if current_user.admin? %>
  <fieldset id="roles">
    <h4>Roles</h4>
    <p>Members of the Admin role can do anything. Members of the Site Approver role can approve events for sites they are subscribed to. Members of the Staff role can sign-in to view event info.</p>
    
    <ul>
      <% @roles.each do |role| %>
      <li>
        <%= check_box_tag :role_ids, role.id, @user.roles.include?(role), :name => 'user[role_ids][]' %>
        <%= label_tag :role_ids, role.name %>
      </li>
      <% end %>
    </ul>
  </fieldset>
  
  <fieldset id="subscriptions">
    <h4>Subscriptions</h4>
    <p>Subscribe this user to school sites and they'll be notified when a request has been submitted to use that site.</p>
    
    <ul>
      <% @sites.each do |site| %>
      <li>
        <%= check_box_tag :site_ids, site.id, @user.sites.include?(site), :name => 'user[site_ids][]' %>
        <%= label_tag :site_ids, site.name %>
      </li>
      <% end %>
    </ul>
  </fieldset>
  
  <fieldset id="assignments">
    <h4>Assignments</h4>
    <p>Assign this user to a need and they'll be notified when a request specified that need. </p>
    
    <ul>
    <% @needs.each do |need| %>
      <li>
      <%= check_box_tag :need_ids, need.id, @user.needs.include?(need), :name => 'user[need_ids][]' %>
      <%= label_tag :need_ids, need.name -%>
      </li>
    <% end %>
    </ul>
  </fieldset>
  <% end %>
  
  
  
  <div class="actions">
    <%= user_form.submit "Submit" %>
  </div>
<% end %>