<div id="content">
<h1>Your request was received.</h1>
<p><em>We will be in touch.</em></p>

<p>
  <b>Requester:</b>
  <%= @event.requester %>
</p>

<p>
  <b>Requester email:</b>
  <%= @event.requester_email %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.fstart %>
</p>

<p>
  <b>End time:</b>
  <%= @event.fend %>
</p>

<p>
  <b>Site:</b>
  <%= @event.site.name %>
</p>

<p>
  <b>Area:</b>
  <%= @event.area %>
</p>

<p>
  <b>Needs:</b>
  <ul>
    <% @event.needs.each do |need| %>
    <li><%= need.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p></div>