<h1>Listing events</h1>

<p><%= link_to 'New Event', new_event_path %></p>

<% @events.each do |event| %>
<div class="event">
  <h3><%= event.title %></h3>
  
  <%= event.site.name %>
  
  <div class="date">
  <%= event.fdate %> from <%= event.fstart %> to <%= event.fend %>
  </div>
  <div class="requester">
  <%= event.requester %>
  <%= event.requester_email %>
  </div>
  
  <div class="areas">
    <%= event.area %>
  </div>
  
  <%= event.state %>
  
  <p>
  <%= link_to 'Show', event %>
  <%= link_to 'Edit', edit_event_path(event) %>
  <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
  </p>
</div>
<% end %>
</table>

<br />


