<p id="notice"><%= notice %></p>

<p>
  <b>Requester:</b>
  <%= @event.requester %>
</p>

<p>
  <b>Requester email:</b>
  <%= @event.requester_email %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Site:</b>
  <%= @event.site_id %>
</p>

<p>
  <b>Area:</b>
  <%= @event.area %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
