<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Requester</title>
  
  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="rh">
    <% if user_signed_in? %>
    <header class="group">
      <h1>SUSD Event Requests</h1>
      
      <div id="account">Signed in as <%= link_to current_user.email, edit_user_path(current_user) %> / <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
      
    </header>
    <% end %>
    
    <div id="page">
      
      <% unless notice.nil? && alert.nil? %>
      <div id="messages">
        <% unless notice.nil? %>
        <div class="notice">
          <%= notice %>
        </div>
        <% end %>
        <% unless alert.nil? %>
        <div class="alert">
          <%= alert %>
        </div>
        <% end %>
      </div>
      <% end %>
      
      
      <%= yield %>
      
      <footer>
        <% unless user_signed_in? %>
        <p><%= link_to "Sign in", new_user_session_path %></p>
        <% end %>
      </footer>
    </div>
  </div>
</body>

</html>
